---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a passionate aerospace engineering student who actively leverages data science and machine learning to devise innovative solutions for complex problems. With a strong background in predictive modeling, software development, and data engineering, I excel in environments that demand both technical expertise and strategic thinking. I consistently apply advanced analytics and cutting-edge technologies to drive impactful results, particularly in space systems and satellite operations. My dedication to problem-solving and my ability to collaborate across multidisciplinary teams enable me to deliver high-quality outcomes in fast-paced and challenging settings.
  </div>

  <!-- Download Resume Button -->
  <div class="mb-5">
    <a href="https://drive.google.com/uc?export=download&id=1sM0FLhdXlGI31Ijd3V0ZUhrXsXeh7RFd">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Download My Resume
      </button>
    </a>
  </div>
  
    <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>SQL</li>
    <li>Git</li>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>Matplotlib</li>
    <li>Scikit-learn</li>
    <li>Plotly</li>
    <li>Dash</li>
    <li>PyTorch</li>
    <li>TensorFlow</li>
    <li>MATLAB</li>
  </ul>
  
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Engineering(Aerospace Engineering)"
      subtitle="2020 to 2024 at Nanyang Technological University, Singapore"
    />
    <TimeLineElement
      title="High School"
      subtitle="2012 to 2020 at Welham Girls' School, Dehradun, India"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Data Science Intern"
      subtitle="From Jan 2024 to May 2024 at Satellite Research Centre, Nanyang Technological University, Singapore"
    >
      I developed an ensemble predictive model using LSTM networks and statistical methods, achieving 85% accuracy in forecasting geomagnetic and solar flux, which significantly improved satellite management reliability. Additionally, I engineered an API with FastAPI for efficient space data processing and integrated a MongoDB database, streamlining data retrieval for the ground station team. I also collaborated with the Hardware-In-the-Loop (HIL) team to enhance mission simulations by integrating data insights, leading to more effective mission planning and execution.

    </TimeLineElement>
    <TimeLineElement
      title="Python and Data Science Coder"
      subtitle="From Jan 2023 to Jan 2024 at Coding Hero, Singapore"
    >
      I utilized Tableau and PowerBI for data visualization, applied advanced machine learning and deep learning techniques to solve complex problems, and successfully delivered over 20 projects ahead of schedule, demonstrating strong project management skills.    
    </TimeLineElement>
    <TimeLineElement
      title="Intern PM Telemetry"
      subtitle="From Jan 2023 to June 2023 at Rocket Factory Augsburg, Augsburg, Germany"
    >
      I developed a web-based visualization tool using Selenium and Plotly, improving data visualization and efficiency for the Telemetry team. Additionally, I enhanced project management tools for the GNC department using Plotly Dash, resulting in better milestone visualization and improved project tracking.
    </TimeLineElement>
    <TimeLineElement
      title="Engineering Intern"
      subtitle="From Aug 2022 to Nov 2022 at Transcelestial Technologies, Singapore"
    >
      I played a key role in developing performance benchmarking software for the Transcelestial Mobile Optical Ground Station, conducted in-depth data analysis to accurately gauge telescope performance, and engineered robust Python-based control software for the Celestron 925 telescope.    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
        <a href="#" onclick="window.open('https://coursera.org/share/a3da93a345e4260fac92505b0f5f9232'); return false;" target="_blank">
            Google AI Essentials
        </a>
    </li>
    <li>
        <a href="#" onclick="window.open('https://www.coursera.org/account/accomplishments/certificate/KBA7CMV344DG'); return false;" target="_blank">
            Cloud Computing Foundations 
        </a>
    </li>
</ul>

  
</BaseLayout>
