---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a passionate aerospace engineering student who actively leverages data science and machine learning to devise innovative solutions for complex problems. With a strong background in predictive modeling, API development, and data engineering, I excel in environments that demand both technical expertise and strategic thinking. I consistently apply advanced analytics and cutting-edge technologies to drive impactful results, particularly in space systems and satellite operations. My dedication to problem-solving and my ability to collaborate across multidisciplinary teams enable me to deliver high-quality outcomes in fast-paced and challenging settings.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Engineering(Aerospace Engineering)"
      subtitle="[2020] to [2024] at [Nanyang Technological University], [Singapore]"
    />
    <TimeLineElement
      title="High School"
      subtitle="[2012] to [2020] at [Welham Girls' School], [Dehradun], [India]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Data Science Intern"
      subtitle="From [Jan 2024] to [May 2024] at [Satellite Research Centre], [Nanyang Technological University], [Singapore]"
    >
      1. Led the development of an ensemble predictive model using LSTM networks and statistical models to improve the accuracy of
      geomagnetic and solar flux forecasting. Achieved an 85% accuracy in forecasting, significantly enhancing the reliability of
      satellite management.
      2. Engineered an API using FastAPI for streamlined space data collection and processing. Built and integrated a MongoDB
      database, allowing the ground station team to retrieve the latest satellite data easily.
      3. Collaborated with the Hardware-In-the-Loop (HIL) team to integrate data insights into simulation models. Elevated the realism
      and accuracy of mission scenarios, contributing to more effective mission planning and execution.

    </TimeLineElement>
    <TimeLineElement
      title="Python and Data Science Coder"
      subtitle="From [Jan 2023] to [Jan 2024] at [Coding Hero], [Singapore]"
    >
      1. Expertly utilized data visualization tools, including Tableau and PowerBI, to represent data insights and findings. Used
      cutting-edge data science techniques, such as machine learning algorithms (e.g., regression, classification, and clustering) and
      deep learning frameworks (e.g., TensorFlow, Keras), to solve complex problems.
      2.  Strategically harnessed decision trees, SVMs, and neural networks to dissect vast datasets, extracting pivotal insights for
      strategic decisions. Demonstrated excellence in orchestrating and delivering over 20 high-impact projects ahead of deadlines,
      evidencing exceptional project management prowess.    
    </TimeLineElement>
    <TimeLineElement
      title="Intern PM Telemetry"
      subtitle="From [Jan 2023] to [June 2023] at [Rocket Factory Augsburg], [Augsburg], [Germany]"
    >
      1. Created a web-based visualization tool using Selenium and Plotly to automate and streamline tasks for the Telemetry team.
      The tool significantly improved data visualization and operational efficiency, enhancing the team's ability to manage and
      interpret telemetry data.
      2. Debugged and improved project management tools for the Guidance, Navigation, and Control (GNC) department using
      Plotly Dash, enabling accurate visualization of critical project milestones. These enhancements improved project tracking and
      management efficiency for the GNC department.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
        <a href="#" onclick="window.open('https://coursera.org/share/a3da93a345e4260fac92505b0f5f9232'); return false;" target="_blank">
            Google AI Essentials
        </a>
    </li>
    <li>
        <a href="#" onclick="window.open('https://www.coursera.org/account/accomplishments/certificate/KBA7CMV344DG'); return false;" target="_blank">
            Cloud Computing Foundations 
        </a>
    </li>
</ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>SQL</li>
    <li>Git</li>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>Matplotlib</li>
    <li>Scikit-learn</li>
    <li>Plotly</li>
    <li>Dash</li>
    <li>PyTorch</li>
    <li>TensorFlow</li>
    <li>MATLAB</li>

  </ul>
</BaseLayout>
